# Environment
ENV=<environment>
AUTH_PROVIDER=<auth-provider>

# Server
SERVER_PORT=<server-port>
SERVER_NAME=<server-name>

# PostgreSQL
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-password>
POSTGRES_DB=<postgres-database>
POSTGRES_URL=<postgres-jdbc-url>

# Nodemailer Reset Token
RESET_TOKEN_HMAC=<hmac-algorithm>
RESET_TOKEN_SECRET_KEY=<reset-token-secret>

# Keycloak
KEYCLOAK_URL=<keycloak-url>
KEYCLOAK_REALM=<keycloak-realm>
KEYCLOAK_CLIENT_ID=<keycloak-client-id>

# Keycloak Admin
KEYCLOAK_ADMIN=<keycloak-admin>
KEYCLOAK_ADMIN_PASSWORD=<keycloak-admin-password>
KEYCLOAK_ADMIN_CLIENT_ID=<keycloak-admin-client-id>
KEYCLOAK_ADMIN_USERNAME=<keycloak-admin-username>